@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}




#cards{
  height: 70vh;
  width: 90%;
  margin: auto;
  position: relative;
  display: flex;
  justify-content: center;
  vertical-align: bottom;
}
#card {
  position: absolute;
  width: 20vw;
  height: 70vh;
background-color: white;
  /* display: flex; */
  /* margin-bottom: 50px; */

}



/* nav */

.logo{
  font-size: 20px;
}

.menu ul li{
  font-weight: 300;
  font-size: 20px;
  font-family: 'Monument';
  margin-left: 20px;
}